:root {
  --star-fill: #E7B85A;
  --star-opacity: 0.8;
  --star-close-size: 50px;
  --star-close-size-wide: 5vw;
  --star-far-size: 30px;
  --star-far-size-wide: 3vw;
}

/* resources/views/layouts/public.blade.php */

.app {
  color: #E7B85A;
  display: grid;
  grid-template-rows: 6vh 94vh;
  height: 100vh;
}

.app a {
  color: #E7B85A;
}

@media (min-width:700px) {
  .app {
    display: grid;
    grid-template-rows: 6vh 94vh;
  }
}

.flashMessage {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 12vh;
  width: 100%;
  animation-name: flashMessage;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes flashMessage {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}

.flashMessage span {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 20px;
  padding: 5px 15px;
  color: #0b2d39;
  background-color: #E7B85A;
}

.flashMessage span div svg {
  height: 20px;
}

.hideFlash {
  display: none;
}

.mainNav {
  padding: 1vh 2vw;
  font-size: 1.3rem;
  background-color: transparent;
  z-index: 1;
}

@media (min-width:700px) {
  .mainNav {
    display: flex;
  }
}

.mainMenu {

}

@media (min-width:700px) {
  .mainMenu {
    display: none;
  }
}

.bttnList {
  position: absolute;
  z-index: 99;
}

.showBttns {
  display: flex;
  flex-direction: column;
  background-color: rgba(11, 45, 57, 0.8);
}

@media (min-width:700px) {
  .showBttns {
    flex-direction: row;
    background-color: rgba(11, 45, 57, 0);
  }
}

.hideBttns {
  display: none;
}

@media (min-width:700px) {
  .hideBttns {
    display: flex;
  }
}

@media (min-width:700px) {
  .mainBttns {
    display: flex;
  }
}

.mainNav div {
  margin-right: 3vw;
}

.mainNav div a {
  /* color: #E7B85A; */
  text-decoration: none;
}

.mainNav div a:hover {
  text-decoration: underline;
}

main {
  /* color: #E7B85A; */
  position: absolute;
  z-index: 0;
  background: linear-gradient(#0b2d39,#124d5e);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  /* background-image:
    linear-gradient(darkblue,darkblue 70%,transparent 70%, transparent),
    conic-gradient(
      from 0turn at 50% 60%,
      transparent 0%,
      black 27%,
      #1548D5 27%,
      #1548D5 32%,
      black 32%,
      black 37%,
      #1548D5 37%,
      #1548D5 42%,
      black 42%,
      black 47%,
      #1548D5 47%,
      #1548D5 52%,
      black 52%,
      black 57%,
      #1548D5 57%,
      #1548D5 62%,
      black 62%,
      black 67%,
      #1548D5 67%,
      #1548D5 72%,
      black 72%,
      black 77%,
      #1548D5);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spinBackground; */
}

.mountainRangeClose {
  transform: scaleY(1);
  /* transform: scaleX(2); */
  height: 27vh;
  width: 100%;
  position: absolute;
  top: 73vh;
  top: calc(var(--vh, 1vh) * 73);
  left: 0;
  fill: #A62c09;
  z-index: 2;
}

.mountainRangeFar {
  height: 25vh;
  width: 100%;
  position: absolute;
  top: 65vh;
  left: 0;
  fill: #D0370D;
}

.star {
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  fill: #E7B85A;
  opacity: var(--star-opacity);
}

.starClose {
  top: 0;
  left: 0;
  width: var(--star-close-size);
  height: var(--star-close-size);
  animation-duration: 20s;
}

@media (min-width:700px) {
  .starClose {
    width: var(--star-close-size-wide);
    height: var(--star-close-size-wide);
  }
}

.starFar {
  width: var(--star-far-size);
  height: var(--star-far-size);
  animation-duration: 40s;
}

@media (min-width:700px) {
  .starFar {
    /* width: var(--star-far-size-wide); */
    width: var(--star-far-size-size);
    height: var(--star-far-size);
    animation-duration: 40s;
  }
}

.extraStarFar {
  display: none;
}

@media (min-width:700px) {
  .extraStarFar {
    display: block;
  }
}

.star1 {
  animation-name: star1;
}

@media (min-width:700px) {
  .start1 {
    animation-name: star1Wide;
  }
}

@keyframes star1 {
  0% {
    transform: translate(5vw, calc(100vh - var(--star-close-size)));
  }
  15% {
    opacity: var(--star-opacity);
  }
  20% {
    transform: translate(5vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(5vw, 0vh);
    opacity: 0;
  }
}

@keyframes star1Wide {
  0% {
    transform: translate(5vw, calc(100vh - var(--star-close-size-wide)));
  }
  15% {
    opacity: var(--star-opacity);
  }
  20% {
    transform: translate(5vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(5vw, 0vh);
    opacity: 0;
  }
}

.star2 {
  animation-name: star2;
}

@media (min-width:700px) {
  .star2 {
    animation-name: star2Wide;
  }
}

@keyframes star2 {
  0% {
    transform: translate(25vw, calc(100vh - var(--star-close-size)));
  }
  40% {
    transform: translate(25vw, calc(100vh - var(--star-close-size)));
  }
  55% {
    opacity: var(--star-opacity);
  }
  60% {
    transform: translate(25vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(25vw, 0vh);
    opacity: 0;
  }
}

@keyframes star2Wide {
  0% {
    transform: translate(25vw, calc(100vh - var(--star-close-size-wide)));
  }
  40% {
    transform: translate(25vw, calc(100vh - var(--star-close-size-wide)));
  }
  55% {
    opacity: var(--star-opacity);
  }
  60% {
    transform: translate(25vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(25vw, 0vh);
    opacity: 0;
  }
}

.star3 {
  animation-name: star3;
}

@media (min-width:700px) {
  .star3 {
    animation-name: star3Wide;
  }
}

@keyframes star3 {
  0% {
    transform: translate(85vw, calc(100vh - var(--star-close-size)));
  }
  20% {
    transform: translate(85vw, calc(100vh - var(--star-close-size)));
  }
  35% {
    opacity: var(--star-opacity);
  }
  40% {
    transform: translate(85vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(85vw, 0vh);
    opacity: 0;
  }
}

@keyframes star3Wide {
  0% {
    transform: translate(85vw, calc(100vh - var(--star-close-size-wide)));
  }
  20% {
    transform: translate(85vw, calc(100vh - var(--star-close-size-wide)));
  }
  35% {
    opacity: var(--star-opacity);
  }
  40% {
    transform: translate(85vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(85vw, 0vh);
    opacity: 0;
  }
}

.star4 {
  animation-name: star4;
}

@media (min-width:700px) {
  .star4 {
    animation-name: star4Wide;
  }
}

@keyframes star4 {
  0% {
    transform: translate(60vw, calc(100vh - var(--star-close-size)));
  }
  60% {
    transform: translate(60vw, calc(100vh - var(--star-close-size)));
  }
  75% {
    opacity: var(--star-opacity);
  }
  80% {
    transform: translate(60vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(60vw, 0vh);
    opacity: 0;
  }
}

@keyframes star4Wide {
  0% {
    transform: translate(60vw, calc(100vh - var(--star-close-size-wide)));
  }
  60% {
    transform: translate(60vw, calc(100vh - var(--star-close-size-wide)));
  }
  75% {
    opacity: var(--star-opacity);
  }
  80% {
    transform: translate(60vw, 0vh);
    opacity: 0;
  }
  100% {
    transform: translate(60vw, 0vh);
    opacity: 0;
  }
}

.star5 {
  animation-name: star5;
}

@media (min-width:700px) {
  .star5 {
    animation-name: star5Wide;
  }
}

@keyframes star5 {
  0% {
    transform: translate(40vw, calc(100vh - var(--star-close-size)));
  }
  80% {
    transform: translate(40vw, calc(100vh - var(--star-close-size)));
  }
  95% {
    opacity: var(--star-opacity);
  }
  100% {
    transform: translate(40vw, 0vh);
    opacity: 0;
  }
}

@keyframes star5Wide {
  0% {
    transform: translate(40vw, calc(100vh - var(--star-close-size-wide)));
  }
  80% {
    transform: translate(40vw, calc(100vh - var(--star-close-size-wide)));
  }
  95% {
    opacity: var(--star-opacity);
  }
  100% {
    transform: translate(40vw, 0vh);
    opacity: 0;
  }
}

/* resources/views/welcome.blade.php */

.centerWelcome {
  display: flex;
  justify-content: center;
}

.welcome {
  margin-top: 25vh;
  border-radius: 15px;
  padding: 1vh 3vw;
  position: absolute;
  background-color: rgba(11, 45, 57, 0.7);
}

.welcomeName {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Whisper';
}

.welcomeName div:first-of-type {
  margin-right: 25px;
}

@media (min-width:700px) {
  .welcomeName {
    font-size: 5rem;
  }
}

.welcomeTitle {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.welcomeTitle div:first-of-type {
  margin-right: 10px;
}

/* resources/views/works.blade.php */

.works {
  margin: 0vh 4vw;
  font-size: 1.2rem;
  position: absolute;
  height: 100vh;
  width: 92vw;
}

.worksScroll {
  margin-bottom: 20vh;
  border-radius: 15px;
  padding: 1vh 3vw;
  background-color: rgba(11, 45, 57, 0.7);
}

.worksTitle {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Whisper';
  height: 10vh;
}

.worksTitle span {
  border-radius: 15px;
  padding: 5px 20px;
  background-color: rgba(11, 45, 57, 0.7);
}

.workGallery {
  padding: 4vh 0;
  /* overflow-y: scroll; */
  height: 78vh;
}

/* .workGallery::-webkit-scrollbar {
  display: none;
} */

@media (min-width:700px) {
  .workGallery {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
  }
}

.projectListOutline {
  overflow-y: scroll;
  height: 70vh;
}

.projectListOutline::-webkit-scrollbar {
  display: none;
}

.projectList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
}

@media (min-width:700px) {
  .projectList {
    padding-bottom: 15vh;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 20px;
    align-items: unset;
  }
}

.oneProject {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vw;
  width: 60vw;
}

.projectLink {
  border-radius: 100%;
}

@media (min-width:700px) {
  .oneProject {
    margin-bottom: unset;
    display: unset;
    flex-direction: unset;
    justify-content: unset;
    height: unset;
    width: 100%;
  }
}

.projectImg {
  background-position: center;
  background-size: contain;
}

.projectTitle {
  margin-left: 15%;
  text-align: center;
  width: 70%;
}

/* resources/views/about.blade.php */

.aboutMe {
  margin: 15vh 4vw 0vh 4vw;
  font-size: 1.2rem;
  position: absolute;
  overflow-y: scroll;
  height: 85vh;
}

.aboutMe::-webkit-scrollbar {
  display: none;
}

.aboutScroll {
  margin-bottom: 20vh;
  border-radius: 15px;
  padding: 1vh 3vw;
  background-color: rgba(11, 45, 57, 0.7);
}

.aboutTitle {
  font-size: 3rem;
  font-family: 'Whisper';
  text-align: center;
}

.aboutStory div {
  margin-bottom: 30px;
}

.aboutStory div a {
  font-weight: bold;
}

.poolImg {
  border-radius: 15px;
  background-image: 
    radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,1)), 
    url('/images/vogt_pool-2-min.jpg');
  background-position: center;
  background-size: cover;
  height: 86vw;
  width: 86vw;
}

@media (min-width:700px) {
  .poolImg {
    margin-left: 30px;
    float: right;
    width: 30vw;
    height: 30vw;
  }
}

/* resources/views/contact.blade.php */

.contactForm {
  margin-left: 2%;
  border-radius: 10px;
  padding: 20px 5%;
  color: #E7B85A;
  position: absolute;
  top: 20vh;
  background: linear-gradient(#A62c09,#A62c09 10%,#D0370D 20%,#D0370D 80%,#A62c09 90%,#A62c09);
  width: 96%;
}
@media (min-width:700px) {
  .contactForm {
    padding: 20px;
    width: 500px;
  }
}

.contactInput {
  margin-bottom: 10px;
  display: block;
  border:1px solid #E7B85A;
  color:#E7B85A;
  background-color: #A62c09;
  width: 100%;
}

.contactInput::placeholder {
  font-style: italic;
  color:#E7B85A;
}

textarea.contactInput {
  height: 20vh;
}

.contactForm button {
  display: block;
  margin-top: 20px;
  border: 2px solid #E7B85A; 
  color:#E7B85A;
  background-color: #0b2d39;
}